body {
    background-color: lightblue;
}

#title {
    font-size: calc(25px + 4vw);
    font-family: "Caveat";
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    padding: 5vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.grid {
    display: flex;
    width: 30vw;
    height: 30vw;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
}

#leaves {
    width: 25vw;
    height: auto;
}

#leaves-label {
    display: block;
    position: relative;
    width: 25vw;
    height: auto;
}

#leaves-label:hover {
    cursor: pointer;
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}
  
#pigpen {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 25vw;
    height: auto;
    opacity: 0;
}
  
#leaves:checked ~ #leaves-label:hover {
    animation: none;
}

#leaves:checked ~ #leaves-label > #pigpen {
    opacity: 1;
}

#tree {
    width: 30vw;
    height: auto;
}

#tree-label {
    display: block;
    position: relative;
    width: 30vw;
    height: auto;
}

#tree-label:hover {
    cursor: pointer;
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}

#woodstock {
    display: flex;
    position: absolute;
    top: 0;
    left: 10vw;
    width: 5vw;
    height: auto;
    opacity: 0;
}

#tree:checked ~ #tree-label:hover {
    animation: none;
}

#tree:checked ~ #tree-label > #woodstock {
    opacity: 1;
}

#house {
    width: 15vw;
    height: auto;
}

#house-label {
    display: block;
    position: relative;
    width: 15vw;
    height: auto;
}

#house-label:hover {
    cursor: pointer;
    animation: shake 1.5s;
    animation-iteration-count: infinite;
}

#snoopy {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 10vw;
    height: auto;
    opacity: 0;
}

#house:checked ~ #house-label:hover {
    animation: none;
}

#house:checked ~ #house-label > #snoopy {
    opacity: 1;
}

@media only screen and (max-width: 1000px) {
    .wrapper {
      flex-direction: column;
    }

    .grid {
        width: 100%;
    }

    #leaves, #pigpen, #tree, #house {
        width: 100%;
    }

    #woodstock {
        width: 25%;
    }

    #snoopy {
        width: 75%;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}