body {
    background-color: lightblue;
}

.floatwrapper {
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

.floatl {
    width: 30vw;
    height: 30vw;
    /* border: 1px solid #000000; */
    /* float: left; */
    justify-content: center;
    align-items: center;
    display: flex;
}

#title {
    font-size: calc(25px + 4vw);
    font-family: "Caveat";
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

#tree {
    width: 30vw;
    height: auto;
}

#leaves {
    width: 20vw;
    height: auto;
}

#dog-house {
    width: 15vw;
    height: auto;
}

/* @media only screen and (max-width: 1000px) {
    #tree {
        width: 100vw;
        height: auto;
    }

    #leaves {
        margin: 
    }
  } */